<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>API Services</title>
</head>
<body>
	<h1>APIS:</h1>
	<div>
	For Post, use something like 
	<a href="https://chrome.google.com/webstore/detail/postman/fhbjgbiflinjbdggehcddcbncdddomop?hl=en">Postman</a>
	 to test the service
	</br>
	Check 
	<a href="https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html">
		http status
	</a>
	for success of the service call:
	
	</div>
	
	<br/>
	
	<h2>POST</h2>
	<ul>
		<li>
			<a href="list">list</a>
			<ul>
				<li>
					<p>
					JsonObject containing:
						<ul>
							<li>length: int
							<li>offset: int
							<li>school: string | optional
							<li>order: ["id", "name", "poly", "score", "course_type"]
							</br>(optional)
						</ul>
					</p>
				<li><b>Returns: JSONArray</b>
			</ul>
		</li>
		<li>
			<a href="course">course</a>
			<ul>
				<li>
					<p>
					JsonObject containing:
						<ul>
							<li>id: string
						</ul>
					</p>
				<li><b>Returns: course:JSONObject (if not found, course:JSONObject will not exist)</b>
			</ul>
		</li>
		<li>
			<a href="search">search</a>
			<ul>
				<li>
					<p>
					JsonObject containing:
						<ul>
							<li>query: string (string of keywords, if multiple, separate by a space ' '. Eg. "sci app")
							<li>offset: int (for loading more search results)
						</ul>
					</p>
				<li><b>Returns: JsonArray</b>
			</ul>
		</li>
	</ul>
</body>
</html>